* {
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", cursive;
}

:root {
  --cell-size: 5rem;
}

@media screen and (max-width: 600px) {
  :root {
    --cell-size: 5rem;
  }
}
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#111, black);
  color: white;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  box-shadow: -2px 0 0 0 white, 2px 0 0 0 white, 0 -2px 0 0 white, 0 2px 0 0 white;
  padding: 4px;
  transition: filter 250ms ease-in-out;
}

.slot, .tool .slot {
  --bg-y: 0;
  --bg-x: 0;
  --cell-size-neg: calc(var(--cell-size) * -1);
  --border-color: transparent;
  border: 2px solid var(--border-color);
  image-rendering: pixelated;
  cursor: pointer;
  transition: all 125ms ease-in-out;
  transition-delay: 0ms;
  background: radial-gradient(transparent 60%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.1450980392) var(--stage-percentage), transparent var(--stage-percentage));
}

.slot-empty {
  background: black;
}

.slot-0 {
  --bg-y: 0;
  --border-color: #473335;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-0::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-0:active::after {
  filter: unset;
}

.slot-1, .tool .slot {
  --bg-y: 1;
  --border-color: #b0413e;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-1::after, .tool .slot::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-1:active::after, .tool .slot:active::after {
  filter: unset;
}

.slot-2 {
  --bg-y: 2;
  --border-color: #c84639;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-2:active::after {
  filter: unset;
}

.slot-3 {
  --bg-y: 3;
  --border-color: #ce763b;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-3::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-3:active::after {
  filter: unset;
}

.slot-4 {
  --bg-y: 4;
  --border-color: #e2af47;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-4::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-4:active::after {
  filter: unset;
}

.slot-5 {
  --bg-y: 5;
  --border-color: #e9d6af;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-5::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-5:active::after {
  filter: unset;
}

.slot-6 {
  --bg-y: 6;
  --border-color: #6bb4b1;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-6::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-6:active::after {
  filter: unset;
}

.slot-7 {
  --bg-y: 7;
  --border-color: #32687a;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-7::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-7:active::after {
  filter: unset;
}

.slot-8 {
  --bg-y: 8;
  --border-color: #32687a;
  --stage-percentage: 0%;
  transition-delay: 125ms;
}
.slot-8::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("./slot.png");
  background-size: calc(var(--cell-size) * 18);
  background-position: calc(var(--bg-x) * var(--cell-size-neg)) calc(var(--bg-y) * var(--cell-size-neg));
  transform: scale(0.7);
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}
.slot-8:active::after {
  filter: unset;
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (0 - 1) * 0.05));
  }
}
.grid .stage-0::after {
  animation: stageAnim calc(2000ms / 0) alternate-reverse infinite;
}

.stage-0 {
  --bg-x: 0;
  --stage-percentage: calc(0 * 16.66%);
}
.stage-0::after {
  transform: scale(calc(20% + 0 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-0:active:not(.completed)::after {
  transform: scale(calc(20% + 0 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (1 - 1) * 0.05));
  }
}
.grid .stage-1::after {
  animation: stageAnim calc(2000ms / 1) alternate-reverse infinite;
}

.stage-1 {
  --bg-x: 1;
  --stage-percentage: calc(1 * 16.66%);
}
.stage-1::after {
  transform: scale(calc(20% + 1 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-1:active:not(.completed)::after {
  transform: scale(calc(20% + 1 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (2 - 1) * 0.05));
  }
}
.grid .stage-2::after {
  animation: stageAnim calc(2000ms / 2) alternate-reverse infinite;
}

.stage-2 {
  --bg-x: 2;
  --stage-percentage: calc(2 * 16.66%);
}
.stage-2::after {
  transform: scale(calc(20% + 2 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-2:active:not(.completed)::after {
  transform: scale(calc(20% + 2 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (3 - 1) * 0.05));
  }
}
.grid .stage-3::after {
  animation: stageAnim calc(2000ms / 3) alternate-reverse infinite;
}

.stage-3 {
  --bg-x: 3;
  --stage-percentage: calc(3 * 16.66%);
}
.stage-3::after {
  transform: scale(calc(20% + 3 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-3:active:not(.completed)::after {
  transform: scale(calc(20% + 3 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (4 - 1) * 0.05));
  }
}
.grid .stage-4::after {
  animation: stageAnim calc(2000ms / 4) alternate-reverse infinite;
}

.stage-4 {
  --bg-x: 4;
  --stage-percentage: calc(4 * 16.66%);
}
.stage-4::after {
  transform: scale(calc(20% + 4 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-4:active:not(.completed)::after {
  transform: scale(calc(20% + 4 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (5 - 1) * 0.05));
  }
}
.grid .stage-5::after {
  animation: stageAnim calc(2000ms / 5) alternate-reverse infinite;
}

.stage-5 {
  --bg-x: 5;
  --stage-percentage: calc(5 * 16.66%);
}
.stage-5::after {
  transform: scale(calc(20% + 5 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-5:active:not(.completed)::after {
  transform: scale(calc(20% + 5 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (6 - 1) * 0.05));
  }
}
.grid .stage-6::after {
  animation: stageAnim calc(2000ms / 6) alternate-reverse infinite;
}

.stage-6 {
  --bg-x: 6;
  --stage-percentage: calc(6 * 16.66%);
}
.stage-6::after {
  transform: scale(calc(20% + 6 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-6:active:not(.completed)::after {
  transform: scale(calc(20% + 6 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (7 - 1) * 0.05));
  }
}
.grid .stage-7::after {
  animation: stageAnim calc(2000ms / 7) alternate-reverse infinite;
}

.stage-7 {
  --bg-x: 7;
  --stage-percentage: calc(7 * 16.66%);
}
.stage-7::after {
  transform: scale(calc(20% + 7 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-7:active:not(.completed)::after {
  transform: scale(calc(20% + 7 * 10%));
}

@keyframes stageAnim {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(calc(1 + (8 - 1) * 0.05));
  }
}
.grid .stage-8::after {
  animation: stageAnim calc(2000ms / 8) alternate-reverse infinite;
}

.stage-8 {
  --bg-x: 8;
  --stage-percentage: calc(8 * 16.66%);
}
.stage-8::after {
  transform: scale(calc(20% + 8 * 15%));
  transition: transform 125ms ease-in-out;
}
.stage-8:active:not(.completed)::after {
  transform: scale(calc(20% + 8 * 10%));
}

.removed {
  animation: removeSlot 250ms ease-in-out forwards;
}

@keyframes removeSlot {
  0% {
    filter: blur(0px) contrast(1);
    opacity: 1;
  }
  100% {
    filter: blur(10px) contrast(2);
    opacity: 0;
  }
}
.completed {
  animation: completeslot 500ms ease-in-out forwards;
}
.completed::after {
  animation: completeslotAfter 500ms ease-in-out;
  animation-fill-mode: forwards;
  outline: unset;
}

@keyframes completeslot {
  0% {
    background: radial-gradient(transparent 60%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.1450980392) var(--stage-percentage), transparent var(--stage-percentage));
  }
  12% {
    background: radial-gradient(transparent 65%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.0823529412) var(--stage-percentage), transparent var(--stage-percentage));
  }
  25% {
    background: radial-gradient(transparent 70%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.0823529412) var(--stage-percentage), transparent var(--stage-percentage));
  }
  37% {
    background: radial-gradient(transparent 75%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.0823529412) var(--stage-percentage), transparent var(--stage-percentage));
  }
  50% {
    background: radial-gradient(transparent 80%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.0196078431) var(--stage-percentage), transparent var(--stage-percentage));
  }
  62% {
    background: radial-gradient(transparent 85%, var(--border-color) 61%), linear-gradient(0deg, rgba(255, 255, 255, 0.0196078431) var(--stage-percentage), transparent var(--stage-percentage));
  }
  75% {
    background: radial-gradient(transparent 90%, var(--border-color) 61%), linear-gradient(0deg, transparent, transparent);
  }
  87% {
    background: radial-gradient(transparent 95%, var(--border-color) 61%), linear-gradient(0deg, transparent, transparent);
  }
  100% {
    background: radial-gradient(transparent 100%, var(--border-color) 61%), linear-gradient(0deg, transparent, transparent);
  }
}
@keyframes completeslotAfter {
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.points {
  position: absolute;
  animation: animPoints 1.5s ease-in-out;
  pointer-events: none;
  font-size: 16px;
  text-align: center;
  --point-origin-x: 0px;
  --point-origin-y: 0px;
  top: var(--point-origin-y);
  left: var(--point-origin-x);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@keyframes animPoints {
  0% {
    transform: scale(0) translateX(8px);
    opacity: 0;
    top: var(--point-origin-y);
  }
  10% {
    transform: scale(2) translateX(8px);
    opacity: 1;
    top: calc(16px + var(--point-origin-y));
  }
  100% {
    transform: scale(1) translateX(8px);
    opacity: 0;
    top: calc(-128px + var(--point-origin-y));
  }
}
.counters {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.counters .counter {
  display: flex;
  flex-direction: row;
  box-shadow: -2px 0 0 0 white, 2px 0 0 0 white, 0 -2px 0 0 white, 0 2px 0 0 white;
}
.counters .counter .slot {
  --cell-size: 2rem;
  width: 2rem;
  height: 2rem;
  --border-color: transparent;
}
.counters .counter .content {
  min-width: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 4px;
}
.counters .counter .content [data-counter] {
  text-align: center;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .counters .counter .content {
    font-size: 14px;
  }
}
.counters .counter .content p {
  padding: 0px 8px;
}
.counters .counter .content a {
  background: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.settings .gold-wrapper {
  padding-right: 16px;
  border-right: 2px solid white;
  margin-right: 8px;
}

.tool {
  padding: 8px;
  cursor: pointer;
}
.tool .slot {
  --cell-size: 3rem;
  --border-color: transparent;
  pointer-events: none;
  width: 3rem;
  height: 3rem;
}
.tool .slot .active {
  background: #333;
}
.tool .slot.hoe {
  --bg-x: 17;
  --bg-y: 7;
}
.tool .slot.hose {
  --bg-x: 17;
  --bg-y: 5;
}
.tool .slot.combine {
  --bg-x: 17;
  --bg-y: 4;
}
.tool input {
  display: none;
}
.tool:has(input:checked) {
  outline: 2px solid white;
}

/*# sourceMappingURL=style.css.map */
